footer.hidden(class="md:block")
    .justify-center(class="md:flex")
        .mt-10.p-6.flex.justify-between.items-center(class="w-3/4")
            .flex.flex-col
                p Anies Ahmad
                p Some Address
                p +60173353911
                p anies.ahmad@hartamas.com
            .flex.flex-col
                p Work with Anies
                a Schedule Free Consultation
                a Home Search
                a Recent Sales
            .flex.flex-col
                a(href="/") LOGO
                p Connect With Me
                .flex
                    a FB
                    a in
                    a Email
.hidden.flex-col.items-center.justify-center.mt-16(class="md:flex")
    p Copyright 2021
    p Anies Ahmad, Hartamas, -negotiator number-?